@import "./common/common.css";

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    padding: 0px 0px 0px 0px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
}

.logo_title {
    font-size: 18px;
    color: wheat;
}

.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.site-layout-background {
    background: #fff;
}
