[class~="ant-col"] {
    background: transparent;
    border: 0;
}
[class~="ant-col"] > div {
    height: 120px;
    font-size: 20px;
    line-height: 120px;
    background: #0092ff;
    border-radius: 4px;
    color: white;
    text-align: center;
}
pre {
    padding: 8px 16px;
    font-size: 13px;
    background: #f9f9f9;
    border-radius: 6px;
}
pre.demo-code {
    direction: ltr;
}
.ant-col {
    padding: 0;
}
[data-theme="dark"] [class~="ant-col"] > div {
    background: #028ac8;
}
